*{
    color: wheat;
    margin: 0 ;
    padding: 0 ;
}
body{
    overflow-x: hidden;
    background-color: rgb(0, 18, 52)
   }
ul,li{list-style: none;}
.content_size{
    width: 1200px;
    height: 90%;
}
h3 {
    margin-bottom: 30px;
    font-size: 3.5rem; 
}

#wrap>div {
 
    width: 100%;
    height: 100vh;
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001234}
    
 #wrap>div:nth-child(1){
    margin: 0 ;
    padding: 0;
}


.landing{position: relative;
}

.landing_effect{
    position: absolute;
    top: calc(50% - 85px);
    left:  calc(50% - 85px);
    z-index: 45;
}
.landing>img{
    width: 1200px;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    animation: show 3s  forwards;  
    animation-delay: 6s;
}
@keyframes show{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.navigator_bar{
    width: 100%;
     position: fixed;
     top: 0;
     left:0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}
.landing_text{
    opacity: 0;
    position: relative;
    left: 25%;
    animation: show 2s ease-out forwards;  
    animation-delay: 6s;
}

.about{position: relative;}

.about.content_size{
    width: 1000px;
    height:90%;
}
.navigator_bar img{
    width: 50px;
    height: 50px;
    margin-left: 25px;
    margin-top: 10px;
}
.navigator_bar ul{
    width: 400px;
    height: 60px;
    position: relative;
    top: 0;
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigator_bar li.color{
    color: #fcbe32;
}
.navigator_bar li{
    transform:rotateX(90deg)
}
.navigator_bar ul a{
    display: block;
    text-decoration: none;
    color: inherit;
    width:100px;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight:bold;
    text-align: center;
} 

.information_bar{
    position:absolute;
    top: 60%;
    left: 5%;

}
.information_bar ul{
    width: 80px;
    height: 300px;
}

.information_bar ul li{
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    width:30px;
    height: 30px;
    display: flex;
    justify-content: colum;
    margin: 20% 0;
} 

.information_bar ul li:nth-child(4) {
    width: 15px;
    height:200px;
    border-right:1px solid #fcbe32;
    margin: 30% 0;
 }
.profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profil .img{ 
    margin-right: 50px;
    width: 300px;
    height: 300px;
    background-color: #ff5f2e;
}
.profil .introduce{
    width: 600px;
    height:350px;
    display: flex;
    justify-content: center;
    align-items:center ;
} 
.introduce q{
    margin: 10px;
    width: 100%;
}
.introduce cite{
    margin-left: 65%;
}
.profil .introduce p{
 margin-top: 30px;
}


.skills .character{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
}
.character dt{
    width: 120px;
    height: 120px;
} 

.character_text p{
    display: none;
}
.text_list.current{
    display: block;
}
.skills .skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width:800px;
    margin-left: 80px;
    background-color: #004e66;
}
.skill ul{
    width:100%;
    font-size: 32px;
}
.skill ul>li{
    font-size: 16px;
    width: 120px;
    height: 30px;
    background-color: #fcbe32;
    text-align: center;
}
.skills_content p{
  margin-top: 30px;
    width: 100%; 
    height: 40px;
    font-size: 1.5rem;
    text-align: center;   
}

.project_content table{
    width:80%;
    height:550px;
    border: 1px solid #fcbe32;
}
.project_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
table th{
    width:250px; 
    height: 35px; 
    background-color: #ff5f2e;
}
table td{
    border: 1px solid #fcbe32;
}

.contact_content{
    width:1000px;
    height: 600px;
}

