*{
     color: #001234; 
    margin: 0 ;
    padding: 0 ;
}
body{overflow-x: hidden;}
ul,li{list-style: none;}
a{color:inherit;
text-decoration: none;
display: block;}
.content_size{
    width: 1000px;
    height: 80%;
}
h3 {
    margin-bottom: 30px;
    font-size: 3.5rem; 
}

#wrap>div {  
    width: 100%;
    height: 100vh;
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  white}
    
 #wrap>div:nth-child(1),
 #wrap>div:nth-child(3){margin: 0 ;padding: 0;}



.landing_effect{
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.blind_letter{
    color: blanchedalmond;
    z-index: 2;
    width: 700px;
    height: 200px;
     overflow: hidden;
     position: absolute;
     top: calc(50% - 85px);
     left:  calc(50% - 350px);
}
 .blind_letter h2 {
    color: blanchedalmond;
    font-size: 8rem;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(200px);
} 
.blind_letter p{
    display: inline-block;
    color: blanchedalmond;
    font-size: 1rem;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateY(200px);
}
.landing_blind{
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    top:0;
    left: 0;
}
.blind{
    width: 33.5%;
    height: 100vh;
    background-color: black;
    animation: slide .5s ease-in-out forwards;

}
.blind.box1{animation-delay : 4.5s ;}  
.blind.box2{animation-delay : 5s ;}
.blind.box3{animation-delay : 5.5s ;}
@keyframes slide {
    0%{transform: translateY(0vh)}
    100%{transform: translateY(-100vh)}
}
.landing_effect>img{
    width: 100%;
   height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    opacity: 1;
    animation: scale 5s  forwards;
    animation-delay : 6s ;
}
 @keyframes scale{
    0%{transform: scale(1.0);}
    100%{transform: scale(1.1);}
} 
.landing_text{
    width: 100%;
    height: 100vh;
    position: absolute;;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 4;
} 
.landing_text object{
  width: 100%;
  display: none;
}
.landing_text .button{
    display: none;
    background:white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 93%;
    left: calc(50% - 25px);
    z-index: 6;
}

.about{position: relative;}

.about.content_size{
    width: 1000px;
    height:90%;
}
.navigator_bar{
    border-top-right-radius: 20px ;
     background-color: #001234; 
    border-top-right-radius: 20px;
    height: 100vh;
    width: 5%;
     position: fixed;
     top: 0;
     left:0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100px); 
}
.navigator_bar .logo{
    width: 50px;
    height:50px;
    position: absolute;
    top: 3%;
    left: 10%;
}

.navigator_bar ul{
    width: 100%;
    height: 360px;
    position:relative;
    top: 0;
    left: 0;
}
.navigator_bar i {
    color: blanchedalmond;
    width:100%;
    margin: 10px 0;
    line-height: 60px;
    font-size: 1.5rem;
    text-align: center;
} 

.navigator_bar i.color{
    color:#F2B938;
}
.profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profil .img{ 
    margin-right: 50px;
    width: 300px;
    height: 300px;
    background-color: #ff5f2e;
}

.profil .introduce{
     width: 600px;
    height:300px; 
} 

.introduce q{
    margin: 10px;
    width: 100%;
}

.introduce cite{
    margin-left: 65%;
}

.profil .introduce p{
 margin: 10px 0 50px 0; 
}

.about  h4{
    font-size: 1.25rem; 
}
.character .strength{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 10px; */
    flex-wrap: wrap;
}
.character dt{
 
    width: 110px;
    height: 110px;
    
}
.character dt object{
    width: 100px;
    height: 100px;
} 
.skill{
    margin-top: 50px;;
    width: 1000px;
    
}
.stack, .codes, .designs{
    margin-left: 20px;
    /* width: 500px;
    height: 250px; */
    display: flex;
}
.stack h4{
    font-weight: 500;
    font-size:1rem
}
 .skill>h4::after{
    position: relative;

    content:" ";
    display: block;
    position: relative;
            top: -10px;
            left: 120px; 
            width: 850px;
            height: auto;
            
border-bottom:  .5px dashed #001234;
} 
.skill h4, .skill li{
    /* background-color: #fcbe32; */
    width: 150px;
    line-height: 30px;
    text-align: center;
}

.contact_content{
    width:1000px;
    height: 600px;
}

